@font-face {
  font-family: "Alliance-Regular";
  src: url("./Alliance No.2 Regular.otf");
}

@font-face {
  font-family: "Alliance-SemiBold";
  src: url("./Alliance No.2 SemiBold.otf");
}

@font-face {
  font-family: "Alliance-Light";
  src: url("./Alliance No.2 Light.otf");
}

a {
  text-decoration: none;
  color: #000000;
}
