.dropdown {
  height: 10vmax;
  padding: 2vmax;
  font-size: 7.1vh;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: auto;
  height: 20vh;
  font-size: 7.1vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
  overflow: scroll;
}
.dropdown-content a {
  color: black;
  padding: 0.2vh 2vh;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
